#
# Network name
#
# Your container app must use a network conencted to your webproxy
# https://github.com/evertramos/docker-compose-letsencrypt-nginx-proxy-companion
#
NETWORK=webproxy

# Your domain (or domains)
DOMAINS=bbw.nullzueins.com

# Your email for Let's Encrypt register
LETSENCRYPT_EMAIL=andre@nullzueins.com

# Database
MYSQL_ROOT_PASSWORD=mow
MYSQL_USER=mow
MYSQL_PASSWORD=mow
